name: Test build

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test build
        uses: home-assistant/builder@2025.11.0
        with:
          args: >-
            --test
            --amd64
            --aarch64
            --target .
            --image {arch}-app-tronbyt-server
