name: Test build

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test build (no push)
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --test
            --all
            --target .
